- if !@posted_image.try(:errors).blank?
  = @posted_image.errors.full_messages.join(', ')
= javascript_include_tag "application"
= form_for form, :html => { :multipart => true } do |f|
  = f.hidden_field :temp_ref
  = f.label 'Name:', :for => 'name'
  = f.text_field :name
  = f.label 'Description:', :for => 'description'
  = f.text_field :description
  %br
  = f.label 'File:', :for => 'image'
  = f.file_field :image, :class => 'image_upload_file_field'
  %br
