= javascript_include_tag "application"
= stylesheet_link_tag "application"

= form_for @posted_image, :html => { :class => 'inlineform' } do |f|
  = f.label 'Name:', :for => :name
  = f.text_field :name, :onkeypress => "return event.keyCode!=13;", :onchange => "update_name( '#{posted_image_url}', $(this), #{@posted_image.id} );"
  = image_tag '/images/spinner_small.gif', :style => 'display: none', :id => "posted_image_#{@posted_image.id}_name_spinner"

= form_for @posted_image, :html => { :class => 'inlineform' } do |f|
  = f.label 'description:', :for => :description
  = f.text_field :description, :onkeypress => "return event.keyCode!=13;", :onchange => "update_desc( '#{posted_image_url}', $(this), #{@posted_image.id} );"
  = image_tag '/images/spinner_small.gif', :style => 'display: none', :id => "posted_image_#{@posted_image.id}_desc_spinner"

%br
= image_tag( @posted_image.image.url(:thumb) )

