%h2
  List of Image Posts
  = " (page #{params[:page]})" unless params[:page].blank?

= link_to 'Create New Post', new_image_post_path
= switch_mine_only_link unless current_user.blank?
%br

- if @image_posts.empty?
  %p
    No record found
- else
  = will_paginate @image_posts
  %table
    %tr.header_row
      %th Id
      %th Thumbnail(s)
      %th Title
      %th Description
      %th State
      %th Action
    - @image_posts.each do |image_post|
      %tr.content_row{ :class => cycle( 'odd', 'even' ) }
        %td
          = image_post.id
        %td
          - image_post.posted_images[0..3].each do |pi|
            = link_to image_tag( pi.image.url(:thumb) ), image_post_path(image_post)
        %td
          = link_to image_post.ellipsized_title, image_post_path(image_post)
        %td
          = link_to image_post.ellipsized_description, image_post_path(image_post)
        %td
          = image_post.state
          - if !current_user.blank? && !image_post.owned_by?(current_user)
            %br
            = ' (not mine)'
        %td
          - if current_user.try(:admin?)
            = raw approval_links( image_post )
          - if current_user.try(:admin?) || image_post.owned_by?( current_user )
            = button_to 'Delete', image_post_path(image_post), :method => :delete, :confirm => 'Are you sure?', :title => 'Delete Post'
  = will_paginate @image_posts
