= link_to 'Back to Index', image_posts_path
%h2 Create new post
= form_for @image_post, :html => { :multipart => true } do |f|
  = f.hidden_field :uuid_ref
  = f.label 'Post Title:', :for => :title
  %br
  = f.text_field :title
  %br
  = f.label 'Description:', :for => :title
  %br
  = f.text_area :description
  %br
  %h3 Image(s):

  - PostedImage.where( :temp_ref => @image_post.uuid_ref ).each do |pi|
    %iframe.image_upload_frame{ :src => posted_image_path( pi ) }

  %iframe.image_upload_frame{ :src => new_image_post_posted_image_path( :image_post_id => @image_post.uuid_ref) }
  = f.submit 'submit'

%br
= link_to 'Back to Index', image_posts_path
