= link_to 'Back to Index', image_posts_path
- if current_user.try(:admin?)
  %br
  %h3
    State:
    = @image_post.state
  =raw approval_links( @image_post )
%h2
  Title:
  = @image_post.title
%h3
  Description:
  = @image_post.description
- @attached_images.each do |posted_image|
  %div.posted_image
    Name:
    = posted_image.name
    %br
    Description:
    = posted_image.description
    %br
    = link_to image_tag( posted_image.image.url(:large) ), posted_image.image.url(:original)

%br
= link_to 'Back to Index', image_posts_path
