/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

@font-face { font-family: Keffeesatz; src: url(/fonts/YanoneKaffeesatz-Light.otf) format("opentype") }
@font-face { font-family: KeffeesatzBold; src: url(/fonts/YanoneKaffeesatz-Bold.otf) format("opentype") }

div.headergap {
  width: 100%;
  height: 0.3em;
  background-color: #000033;
}

h1.site_name {
  font-family: Keffeesatz,Arial;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}

h2 {
  color: #221100;
  font-family: Keffeesatz,Arial;
  background-color: #cceeff;
  border-radius: 8px;
  padding: 0.5em 0.5em;
}

body {
  font-family: Sans;
  width: 80%;
  margin-left: 10%;
  background-color: white;
  background-image: none;
}

a {
  color: #000077;
}

a:hover {
  color: #774422;
}

.field_with_errors input, .field_with_errors textarea {
  border: 2px solid #ff0000;
}

p.notice, p.alert {
  border-radius: 5px;
  padding: 0.5em;
}

p.notice {
  background-color: #66ff33;
}

p.alert {
  background-color: #ff4444;
}

div.login_info {
  font-size: 80%;
}

