// Place all the styles related to the ImagePosts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

tr.header_row {
  font-family: arial;
  color: #ffeeee;
  background-color: #bb1100;
  border-style: none;
}

tr.even {
  background-color: #ddeeff;
}

th + th {
  border-left: 2px solid #aaaaaa;
}

td {
  text-overflow: ellipsis;
}

table {
  width: 100%;
  border-collapse: collapse;
}

div.pagination {
  text-align: right;
}

div.posted_image {
  background-color: #ddeeff;
  margin-bottom: 1.5em;
  padding: 0.5em;
  border-radius: 8px;
  border: 1px solid #bbccdd;
}

textarea {
  height: 4em;
}

iframe.image_upload_frame {
  width: 100%;
  border: none;
  background-image: url(/images/spinner.gif);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 100px;
}

h3 {
  display: inline
}

