<!DOCTYPE html>
<html>
<head>
  <title>Imageposter</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="login_info" >
    <% if current_user %>
      Logged in as: <%= current_user.email %>
      <%= link_to '(Logout)', destroy_user_session_path, :method => :delete %>
    <% else %>
      You are not logged in.
      <%= link_to '(Login)', new_user_session_path %>
      <%= link_to '(Register)', new_user_registration_path %>
    <% end %>
  </div>

  <h1 class="site_name">Image Poster Application</h1>
  <div class="headergap"> </div>

  <% unless flash[:notice].blank? %>
    <p class="notice"><%= flash[:notice] %></p>
  <% end %>
  <% unless flash[:alert].blank? %>
    <p class="alert"><%= flash[:alert] %></p>
  <% end %>

<%= yield %>

</body>
</html>
